.merryGoRound {
  width: 200px;
  height: 200px;
  position: relative;
  background-color: green;
}
.center {
  height: 20px;
  width: 20px;
  background-color: red;
  position: absolute;
  transform: translate(-50%, 50%);
  left: 100px;
  bottom: 100px;
}
.items {
  margin-left: 0;
  padding-left: 0;
}
.item {
  list-style-type: none;
}
